.irAlCarrito {
    margin-bottom: 1%;
    margin-right: 1%;
}

.seguirComprando {
    margin-bottom: 1%;
}

.itemDetailContainer {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 1%;
    box-sizing: 1px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 3px 10px 4px rgb(33, 124, 243);
}

h3 {
    color: black;
}

p {
    color: black;
}

.imageItemDetail {
    height: 400px;
    width: 400px;
}